.App {
  /*width: 80vw;*/
  margin: auto;
}

.Container {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Button {
  border: 1px solid white;
  border-radius: 8px;
  background-color: #2c313a;
  color: white;
  padding: 10px;

  font-size: 16px;

  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  transition-duration: 300ms;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

Button:hover {
  background-color: white;
  color: black;

  transition-duration: 300ms;
}

.BlockText-Container {
  padding: 0 30px;
  padding-bottom: 80px;

  width: 72vw;
  margin: auto;
}

.Editor {
  background-color: #2c313a;
  margin: auto;
  cursor: text;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 16px 36px;
}

p {
  margin: 10px;
}

.Toolbar {
  text-align: center;
  background-color: #2c313a;
  margin: auto;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}